.dash-after::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #feae28;
  display: block;
  margin-top: 0.5rem;
}

.dash-animate::after {
  animation-name: dash;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes dash {
  0% {
    width: 2px;
  }
  100% {
    width: 60px;
  }
}
.text-muted {
  opacity: 0.6;
}

.text-capital {
  text-transform: uppercase !important;
}

.experience_card .skill_tag {
  color: #2dd4bf;
  background-color: #122b39;
}