@import "./colors";

.dash-after {
    &::after {
        content: '';
        width: 60px;
        height: 5px;
        background-color: $color_yellow;
        display: block;
        margin-top: .5rem;
    }
}

.no-dash-after
{
    &::after
    {
        content: none !important;
    }
}

.dash-animate
{
    &::after {
        animation-name: dash;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-duration: 1s;
    }

}

@keyframes dash {
    0% {
        width: 2px;
    }

    100%{
        width: 60px;
    }
}

.text-muted
{
    opacity: .6;
}

.text-capital
{
    text-transform: uppercase !important;
}

// .linkedln_svg_icon {
//     .social-svg-mask {
//         transition: all 200ms !important;
//     }

//     &:hover {
//         .social-svg-mask {
//             fill: rgb(0, 127, 177) !important;
//         }
//     }
// }

.experience_card,.project_card
{
    transition: all 200ms;
   .skill_tag
   {
    color: $color_teal;
    background-color: $color_tags_bg;
   }

   .title{
    transition: all 200ms;
    &::after{
        content: '';
        width: 18px;
        height: 18px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 200ms;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white' class='inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }
   }

   &:hover{
    box-shadow: 0px 0px 5px #36425ad1;
    background-color: #162032;
    cursor: pointer;
    .title{
        color: $color_teal;

        &::after{
            transform: translateX(1px) translateY(-3px);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%232dd4bf' class='inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
        }
    }
   }
}


.flex-important
{
    display: flex !important;
}
// .scale_in
// {
//     &:hover{
//         .project_thumb_image
//         {
//             .scalable_img{
//               scale: 1.1 !important;
//             }
//         }
//     }
  
// }