@import './colors';

.header_link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    &.active
    {
        color: $color_yellow;
        // font-weight: bold;
        &::after
        {
            content: '';
            font-weight: bold;
            width: 5px;
            height: 5px;
            display: block;
            background-color: $color_yellow;
            border-radius: 100vmax;
            position: relative;
            top: 5px;
        }
    }
  
}