.dash-after::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #feae28;
  display: block;
  margin-top: 0.5rem;
}

.dash-animate::after {
  animation-name: dash;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes dash {
  0% {
    width: 2px;
  }
  100% {
    width: 60px;
  }
}
.text-muted {
  opacity: 0.6;
}

.header_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_link.active {
  color: #feae28;
}
.header_link.active::after {
  content: "";
  font-weight: bold;
  width: 5px;
  height: 5px;
  display: block;
  background-color: #feae28;
  border-radius: 100vmax;
  position: relative;
  top: 5px;
}

html {
  scroll-behavior: smooth !important;
}
html *::selection {
  background: #2dd4bf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home_page_layout {
  padding-top: 5rem;
}
.Home_page_layout .content .left_static_section {
  width: 40%;
  min-height: 100vh;
}
.Home_page_layout .content .left_static_section .content {
  position: sticky;
  top: 10px;
}
.Home_page_layout .content .left_static_section .content .links_list {
  display: flex;
  flex-direction: column;
}
.Home_page_layout .content .left_static_section .content .links_list .section_link {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.Home_page_layout .content .left_static_section .content .links_list .section_link.active::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: white;
  margin-right: 0.5rem;
}
.Home_page_layout .content .right_scrollable_section {
  width: 60%;
}

.Sub-Header-Section {
  background-color: #333445;
  height: 400px;
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 35%;
  background-attachment: fixed;
}